:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Frank Ruhl Libre", serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);

  --clr-blue: #2786b4;
}
/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
.App {
  text-align: center;
  border: 1px dotted grey;
  /* width: 1200px; */
  /* max-width: min(100%, 960px); */
  margin: 0 auto 40px;
  /* overflow-x: auto; */
}

@media (min-width: 960px) {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

nav {
  background-color: #010d14;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding: 5px 15px;
}

nav a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

nav img {
  height: 21px;
}

nav a span {
  margin-top: 2px;
  display: inline-block;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 20px;
  padding-left: 8px;
  font-family: var(--ff-primary);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  font-family: var(--ff-secondary);
  color: rgb(33, 37, 41);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-primary);
  font-weight: 700;
}

h1 {
  font-size: 64px;
  margin: 4rem 0 3rem;
}

h2 {
  margin: 6rem 0 2rem;
  font-weight: 600;
  font-size: 2rem;
}

h2::after {
  display: block;
  content: "";
  background: #666666;
  height: 3px;
  width: 100px;
  margin: 10px auto 2rem;
}

pre {
  font-size: 1.125rem;
}

.tick line {
  stroke: #c0c0bb;
}

.tick text {
  fill: #635f5d;
}

.mark {
  /* https://sunlightfoundation.com/2014/03/12/datavizguide/ */
  /* fill: #137b80; */
  fill: var(--clr-blue);
}

.axis-label {
  font-size: 1.45rem;
  fill: #635f5d;
  font-family: var(--ff-heading);
}

.axis-label-note {
  font-size: 0.75rem;
  fill: #635f5d;
  font-family: var(--ff-heading);
}

.form-container {
  margin-top: 20px;
  align-items: center;
}

.form-container label {
  padding-right: 10px;
}

.date-selector {
  margin-top: 20px;
  float: right;
  font-family: var(--ff-heading);
}
/* 
.date-selector span {
  padding-right: 7px;
}

.date-selector option {
  margin-right: 10px;
  padding-left: 5px;
  text-transform: capitalize;
} */

.last-updated {
  color: rgb(113, 115, 117);
  font-size: 12.8px;
  margin-top: 5px;
}

.chart {
  margin-top: 40px;
  transform: translate(-40px, 0);
}

.globe__container {
  overflow: hidden;
}

.globe {
  margin: 0 auto;
  transform: translate(-195px, 143px) scale(1.8);
}

.globe__land {
  /* fill: rgb(239, 239, 239); */
  fill: #e0e0e0;
  /* fill: hsl(0, 0%, 71%, 0.61); */
  /* stroke: rgb(204, 204, 204); */
}
.globe__projects {
  /* fill: rgb(239, 239, 239); */
  /* fill: #2786b4; */
  fill: transparent;
  /* stroke: var(--clr-blue); */
  /* stroke: rgb(204, 204, 204); */
}
.globe__rigs {
  /* fill: rgb(239, 239, 239); */
  /* fill: #2786b4; */
  fill: rgb(73, 71, 71);
  /* stroke: var(--clr-blue); */
  stroke: rgb(50, 124, 58);
}

.construction {
  stroke: red;
}

.operational {
  stroke: #3da5ff;
}

.globe__sphere {
  fill: hsla(0, 0%, 93%, 0.01);
  /* fill: #ececec; */
  /* fill: rgb(215, 215, 236); */
  /* stroke: red; */
}

.globe__interiors {
  fill: none;
  stroke: hsl(0, 0%, 80%);
}
.globe__graticules {
  fill: none;
  stroke: hsl(0, 0%, 92%);
}

/* Utility classes */

.ff-heading {
  font-family: var(--ff-heading);
}

.ff-body {
  font-family: var(--ff-body);
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}
.flex-row-c {
  align-items: center;
}

.form-container {
  width: 100%;
  justify-content: center;
}

/* SELECT STYLING */

select {
  /* A reset of styles, including removing the default dropdown arrow */
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

  /* Stack above custom arrow */
  z-index: 1;

  /* Remove focus outline, will add on alternate element */
  outline: none;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  margin: 0 5px;
  min-width: 7ch;
  max-width: 30ch;

  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;

  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;

  /* Optional styles */
  /* remove for transparency */
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

select,
select::after {
  grid-area: select;
}

/* Custom arrow */
select:not(.select--multiple)::after {
  content: "";
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

/* Interim solution until :focus-within has better support */
select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}

.select--disabled {
  cursor: not-allowed;
  background-color: #eee;
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}

label {
  font-size: 1.125rem;
  font-weight: 500;
  font-family: var(--ff-heading);
}

.select + label {
  margin-top: 2rem;
}

.capacity {
  width: 100%;
  color: #212529;
  font-family: var(--ff-heading);
  border-collapse: collapse;
}
.capacity thead td {
  font-weight: 600;
}
.capacity tr {
  width: 100%;
  border-bottom: 1px solid #eee;
}

.capacity tr:hover {
  cursor: pointer;
  background-color: #eaeaea;
}

.capacity td {
  text-align: center;
  font-size: 1.1rem !important;
  max-width: 50%;
  padding: 1rem;
}

.key-numbers {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  margin: 3rem 0;
}

.key-numbers div {
  width: 100%;
}

.key-numbers__title {
  font-size: 1.2rem;
  /* font-weight: 700; */
  font-family: var(--ff-heading);
}

.key-numbers__value {
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--ff-heading);
  color: #2786b4;
}
.key-numbers__value span {
  color: rgb(182, 182, 182);
  font-weight: 600;
  font-size: 1.5rem;
}

.legend {
  font-size: 0.875rem;
  color: #666;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.usersRawData,
.resourcesRawData {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
